@import url('https://fonts.googleapis.com/css?family=Montserrat|Lato');
 
html {
  text-align: center;
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Lato', sans-serif;
  color: #ea9078;
}

h1 {
  color: #444;
  margin-top: 2rem;
  font-size: 3rem;
  font-weight: bold;
}

.remindr-inputs {
  position: relative;
  margin: 0 auto;
  max-width: 860px;
  width: 100%;
  text-align: center;

  input {
    display: block;
    margin: 0.3em 0 0 0;
    padding: 0.5em 1em 0.5em 0.7em;
    width: calc(100% - 2em);
    border: none;
    background: transparent;
    color: rgba(0,0,0,0.8);
    font-size: 1em;
    line-height: 1;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }

 /* display: flex;
  flex-direction: column;
  justify-content: center;
  
  fieldset {
    border: none;
    margin: 1rem 0;
    padding: 0;

    > label {
      display: block;
      padding-bottom: 0.5rem;
    }

    input { 
      text-align: center;
      padding: 0.5em;
    }
  }
*/
/*  button {
    margin: 1rem auto;
  }
*/}
