@import url('https://fonts.googleapis.com/css?family=Montserrat|Lato');
 
html {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: #444;
}

.remindr-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  fieldset {
    border: none;
    margin: 1rem 0;
    padding: 0;

    > label {
      display: block;
      padding-bottom: 0.5rem;
    }

    input { 
      text-align: center;
      padding: 0.5em;
    }
  }

  button {
    margin: 1rem auto;
  }
}
