<!--
     actions: { 
        nextStep() {
            increment counter
            increment progress bar
            animate question and progress bar }--> 

<div class="remindr-inputs">
  <p>{{currentQuestion}}</p>
  <form>
    <ol>
      {{#each questions key="@index" as |question|}}
        <li>
          <span><label>{{question}}</label></span>
          <input class='message' type="text" />
        </li>
      {{/each}}
    </ol>
    <div class="controls">
      <button onclick={{action next}} class="next-question"></button>
      <span class="question-numbers">
        <span class="current-question-number"></span>
        <span class="total-question-number"></span>
      </span>
    </div>
  </form>
</div>