{{#if isAskingQuestions}}
	<div class="questions">
		{{component currentQuestion}}
		<button {{action 'nextQuestion'}} class="next-question">
	    <i class="material-icons">keyboard_arrow_right</i>
		</button>
	</div>
{{else}}
	{{stripe-checkout
		amount=100
		name='Reminder.tel'
		description='Paying for 1 reminder'
		label="Schedule reminder"
		class="stripe-checkout"
		onToken=(action 'processStripeToken')}}
{{/if}}
