<input type='text' class="question-message" />
{{ui-calendar date=date onChange=(action (mut date)) placeholder="Select date and time" class="question-datetime"}}
<input type='text' class="question-phone" />
<button class="next-question">
</button>

{{stripe-checkout
	amount=100
	label="Schedule reminder"
	class="stripe-checkout"}}