<input type='text' class="question-message" />
<input type='text' class="question-datetime" />
<input type='text' class="question-phone" />
<button class="next-question">
</button>

{{stripe-checkout
	amount=100
	label="Schedule reminder"
	class="stripe-checkout"}}