<div class="questions">
	{{question-message}}
	{{question-datetime}}
	{{question-phone}}
	<button class="next-question">
    <i class="material-icons">keyboard_arrow_right</i>
	</button>

	{{stripe-checkout
		amount=100
		label="Schedule reminder"
		class="stripe-checkout"}}
</div>
